@import url("https://fonts.googleapis.com/css?family=Rubik:500");

body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.logo{
    height: 20%;
    width: height;
    cursor: pointer;
}
.logo:hover{
    filter: brightness(85%);
}
#canvaslogo{
    position: absolute;
    top: 40%;
    left: 39%;
    transform: translate(-50%, -50%);
}
#googletaskslogo{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* credits to vlt_dev*/
.arrow{
    position: absolute;
    top: 35%;
    left: 48.3%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
}
.arrow span{
    display: block;
    height: 1.5vw;
    width: 1.5vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
}

#exportbutton{
    position: absolute;
    top: 55%;
    left: 49.3%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    height: 9%;
    width: 12%;
    border-radius: 5%;
    font-size: 120%;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    background-color: rgb(232, 232, 232);
    color: #000000;
}
#exportbutton:hover{
    filter: brightness(85%);
}
#exportbutton:active{
    top: 55.5%;
}