body{
    display: flex;
    justify-content: center;
}

.logos{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvaslogo, #googletaskslogo{
    height: 200px;
    width: height;
}