<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas To Google Tasks</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <a href="https://www.instructure.com/canvas/login" target="_blank" rel="noreferrer noopener">
        <img class="logo" id="canvaslogo" src="static/canvaslogo.png" alt="Canvas logo" title="Click to go to Canvas">
    </a>
    <div class="arrow">
        <span></span> 
        <span></span>
        <span></span>
    </div>
    <a href="https://calendar.google.com" target="_blank" rel="noreferrer noopener">
        <img class="logo" id="googletaskslogo" src="static/googletaskslogo.png" alt="Google Tasks logo" title="Click to go to Google Calendar">
    </a>
    <button id="exportbutton" title="Click to export assignments over">Export</button>
</body>
</html>